<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login Page</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/admin/profile">Administrator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/speaker/list">Speakers</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/speaker/add">add Speakers</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/event/add">add Events</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/event/list">Events</a>
              </li>
          </ul>
        </div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item active">
                <button class="btn btn-outline-success my-2 my-sm-0">Welcome Eslam</button>
            </li>
        </ul>
      </nav>
    <script src="/js/JQuery-3.3.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>
