*{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.container{
    margin-top: 50px;

}
table{
    margin-top: 20px;
}
h1{
    color: lightseagreen;
}
.crud{
    margin-left: 10px;
    width: 70px;
}
#deleteEvent{
    margin-left: 8px;
}
#editEvent{
    margin-left: -21px;
}